h1,
p {
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

body {
  background-color: rgb(207, 232, 240);
  font-family: "Montserrat", sans-serif;
}

img {
  width: 7em;
  height: 7em;
  object-fit: cover;
  border: 1px solid rgb(7, 153, 201);
  border-radius: 10px;
}

.trading-card {
  border: 1px solid rgb(7, 153, 201);
  width: 30%;
  border-radius: 10px;
}
